{% import "bootstrap/wtf.html" as wtf %}

<!DOCTYPE html>
<html lang="pl">
    <head>
        <title>Auction Site</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>

    <body>

        <!--Title of service-->
        <div class="jumbotron shadow border mt-4">
            <div class="container">
                <h1 class="display-2">Testowy serwis aukcyjny</h1>
                <p class="lead ">Witam na testowym projekcie serwisu aukcyjnego.</p>
            </div>
        </div>

        <!--Navbar-->
        <div class="fixed-top shadow">
            <div class="collapse" id="ExternalContent">
                <div class="bg-info p-4 row text-white">

                    <!--Info-->
                    <div class="col-6">
                        <h3>{{ info.title }}</h3>
                        <p class="text-justify">{{ info.description }}</p>
                    </div>

                    <div class="col"></div>

                    <!--Special buttons-->
                    <ul class="col-1 my-auto">
                        {% if user %}
                            <a class="text-decoration-none" href="/user/{{ user.id }}">
                                <button type="button" class="btn btn-sm btn-block btn-light shadow">Mój profil</button>
                            </a><br>

                            <a class="text-decoration-none" href="/items">
                                <button type="button" class="btn btn-sm btn-block btn-light shadow">Moje oferty</button>
                            </a>
                        {% endif %}
                    </ul>
                </div>
            </div>

            <nav class="navbar navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ExternalContent">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!--Main buttons-->
                <ul class="col my-auto">
                    <a class="nav-item text-white btn" href="/home">Strona główna</a>
                    <a class="nav-item text-white btn" href="/items">Oferty</a>
                    <a class="nav-item text-white btn" href="/users">Użytkownicy</a>
                </ul>

                <!--User's buttons-->
                {% if not user %}
                    <ul class="my-auto">
                        <a class="nav-item btn btn-outline-info" href="/login">Zaloguj się</a>
                        <a class="nav-item btn btn-outline-info" href="/register">Zarejestruj się</a>
                    </ul>
                {% else %}
                    <p class="lead text-white my-auto mr-2">{{ user.nick }}</p>
                    <form action="/home" method="POST">
                        <button type="submit" class="btn btn-outline-info">Wyloguj</button>
                    </form>   
                    {% if user and user.admin == true %}
                        <a class="btn btn-outline-info ml-2" href="/admin">Pandel administratora</a>
                    {% endif %}        
                {% endif %}
            </nav>
        </div>

        <!--Page's content-->
        {% block content %}{% endblock %}

    </body>
</html>
    